---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/Concrete/Concrete_h.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/Concrete/Concrete_h.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/Concrete/Concrete_h.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/Exterior/Exterior1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Exterior/Exterior1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/Exterior/Exterior1.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/New-Foundation/New-Foundation5.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/New-Foundation/New-Foundation5.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/New-Foundation/New-Foundation5.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About ESK Waterproofing</h2>
                <p class="cs-text">
                    At Esk Waterproofing, we understand that your home is more than just a structure; it's a sanctuary. With over a decade of unwavering dedication to excellence, we have become Toronto's trusted name in waterproofing solutions. Our mission is simple: to protect and fortify homes and businesses against the damaging effects of water
                </p>
                <p class="cs-text">
                  Recognizing that each property is unique, we offer customized waterproofing solutions. Whether you're a homeowner, business owner, or property manager, Esk Waterproofing adapts our services to meet your specific needs, providing robust and lasting protection.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Had them come after the snow storm to clear property. They did a great job.  Fast and efficient.

                    </p>
                    <span class="cs-name">Marco Samanica</span>
                    <span class="cs-job">Customer</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}