---
title: 'Projects'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'projects/'
eleventyNavigation:
    key: Projects
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Projects</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/Concrete/Concrete_h.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/Concrete/Concrete_h.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/Concrete/Concrete_h.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<!--
    To add a 5th or 6th gallery or more, copy and paste the cs-button and change it's data-filter to th next number, in this case it's 5. Do the dame to the cs-gallery and its data-category number. And thats it!
-->

<section id="gallery-1449">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Gallery</span>
                <h2 class="cs-title">Our Photo Gallery</h2>
            </div>
            <div class="cs-button-group">
                <button class="cs-button" data-filter="one">
                    New Foundation
                </button>
                <button class="cs-button" data-filter="two">
                    Interior Waterproofing
                </button>
                <button class="cs-button" data-filter="three">
                    Exterior Waterproofing
                </button>
                <button class="cs-button" data-filter="four">
                    Concrete Waterproofing
                </button>
                      <button class="cs-button" data-filter="five">
                    Underpinning
                </button>
                      <button class="cs-button" data-filter="six">
                    Sump Pump
                </button>
            </div>
        </div>
        <!--Gallery 1-->
        <div class="cs-gallery" data-category="one">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/New-Foundation/New-Foundation2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/New-Foundation/New-Foundation2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/New-Foundation/New-Foundation2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/New-Foundation/New-Foundation3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/New-Foundation/New-Foundation3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/New-Foundation/New-Foundation3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/New-Foundation/New-Foundation4.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/New-Foundation/New-Foundation4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/New-Foundation/New-Foundation4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/New-Foundation/New-Foundation5.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/New-Foundation/New-Foundation5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/New-Foundation/New-Foundation5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/New-Foundation/New-Foundation6.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/New-Foundation/New-Foundation6.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/New-Foundation/New-Foundation6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/New-Foundation/New-Foundation7.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/New-Foundation/New-Foundation7.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/New-Foundation/New-Foundation7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/New-Foundation/New-Foundation8.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/New-Foundation/New-Foundation8.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/New-Foundation/New-Foundation8.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/New-Foundation/New-Foundation9.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/New-Foundation/New-Foundation9.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/New-Foundation/New-Foundation9.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
        <!--Gallery 2-->
        <div class="cs-gallery cs-hidden" data-category="two">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Interior/Interior11.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Interior/Interior11.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Interior/Interior11.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Interior/Interior12.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Interior/Interior12.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Interior/Interior12.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Interior/Interior13.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Interior/Interior13.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Interior/Interior13.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Interior/Interior14.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Interior/Interior14.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Interior/Interior14.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Interior/Interior6.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Interior/Interior6.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Interior/Interior6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Interior/Interior7.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Interior/Interior7.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Interior/Interior7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Interior/Interior8.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Interior/Interior8.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Interior/Interior8.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Interior/Interior9.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Interior/Interior9.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Interior/Interior9.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
        <!--Gallery 3-->
        <div class="cs-gallery cs-hidden" data-category="three">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Exterior/Exterior2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Exterior/Exterior2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Exterior/Exterior2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Exterior/Exterior3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Exterior/Exterior3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Exterior/Exterior3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Exterior/Exterior4.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Exterior/Exterior4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Exterior/Exterior4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Exterior/Exterior5.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Exterior/Exterior5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Exterior/Exterior5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Exterior/Exterior6.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Exterior/Exterior6.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Exterior/Exterior6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Exterior/Exterior7.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Exterior/Exterior7.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Exterior/Exterior7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Exterior/Exterior8.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Exterior/Exterior8.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Exterior/Exterior8.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Exterior/Exterior9.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Exterior/Exterior9.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Exterior/Exterior9.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
        <!--Gallery 4-->
        <div class="cs-gallery cs-hidden" data-category="four">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Concrete/Concrete9.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Concrete/Concrete9.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Concrete/Concrete9.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Concrete/Concrete2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Concrete/Concrete2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Concrete/Concrete2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Concrete/Concrete3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Concrete/Concrete3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Concrete/Concrete3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Concrete/Concrete4.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Concrete/Concrete4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Concrete/Concrete4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Concrete/Concrete5.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Concrete/Concrete5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Concrete/Concrete5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Concrete/Concrete6.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Concrete/Concrete6.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Concrete/Concrete6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Concrete/Concrete7.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Concrete/Concrete7.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Concrete/Concrete7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Concrete/Concrete8.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Concrete/Concrete8.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Concrete/Concrete8.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
                <!--Gallery 5-->
        <div class="cs-gallery cs-hidden" data-category="five">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Underpinning/Underpinning2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Underpinning/Underpinning2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Underpinning/Underpinning2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Underpinning/Underpinning3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Underpinning/Underpinning3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Underpinning/Underpinning3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Underpinning/Underpinning4.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Underpinning/Underpinning4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Underpinning/Underpinning4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Underpinning/Underpinning5.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Underpinning/Underpinning5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Underpinning/Underpinning5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Underpinning/Underpinning6.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Underpinning/Underpinning6.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Underpinning/Underpinning6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Underpinning/Underpinning7.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Underpinning/Underpinning7.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Underpinning/Underpinning7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Underpinning/Underpinning8.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Underpinning/Underpinning8.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Underpinning/Underpinning8.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Underpinning/Underpinning9.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Underpinning/Underpinning9.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Underpinning/Underpinning9.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
                <!--Gallery 6-->
        <div class="cs-gallery cs-hidden" data-category="six">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/SumPump/Sumpump2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/SumPump/Sumpump2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/SumPump/Sumpump2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/SumPump/Sumpump3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/SumPump/Sumpump3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/SumPump/Sumpump3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/SumPump/Sumpump4.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/SumPump/Sumpump4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/SumPump/Sumpump4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/SumPump/Sumpump5.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/SumPump/Sumpump5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/SumPump/Sumpump5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/SumPump/Sumpump6.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/SumPump/Sumpump6.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/SumPump/Sumpump6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/SumPump/Sumpump7.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/SumPump/Sumpump7.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/SumPump/Sumpump7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/SumPump/Sumpump8.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/SumPump/Sumpump8.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/SumPump/Sumpump8.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/SumPump/Sumpump9.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/SumPump/Sumpump9.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/SumPump/Sumpump9.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>


    {% include 'components/cta.html' %}

{% endblock %}