---
title: 'Waterproofing Solution'
description: "Esk Waterproofing, your reliable ally in Toronto for over a decade. We provide  waterproofing solutions tailored to your property's unique needs. From new foundation and exterior waterproofing to interior protection, underpinning, concrete fortification, and sump pump installations, we ensure a dry, secure, and enduring environment. "
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

  <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-997">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Your Shield Against Water Damage in Toronto</span>
            <h1 class="cs-title"><span class="cs-color">#1</span> Waterproofing Company in Toronto</h1>
            <p class="cs-text">
                 At Esk Waterproofing, we're more than waterproofing experts; we're your partners in ensuring a dry and secure home. With a commitment to excellence and a proven track record, we stand as Toronto's top choice for waterproofing solutions.
            </p>
            <div class="cs-button-box">
                <a href="/contact" class="cs-button-solid">Contact Us</a>
                <a href="/projects" class="cs-button-transparent">Our Projects</a>
            </div>
        </div>
    </div>
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="assets/images/Hero1.jpg">
        <source media="(min-width: 601px)" srcset="assets/images/Hero1.jpg">
        <img loading="lazy" decoding="async" src="assets/images/Hero1.jpg" alt="restaurant" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">ABOUT US</span>
            <h2 class="cs-title">Your Trusted Toronto Waterproofing Partner</h2>
            <p class="cs-text">
               With over 10 years of proven expertise, Esk Waterproofing stands as Toronto's go-to solution for all waterproofing services. Our unwavering commitment to excellence has solidified our reputation as the trusted name in safeguarding homes and businesses from the detrimental effects of water damage. We bring a wealth of hands-on experience to every project. Our team of professionals is dedicated to delivering high-quality, effective waterproofing solutions tailored to the unique needs of your property.
            </p>
            <a href="/about" class="cs-button-solid">More About Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-342">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our Services</h2>
            <p class="cs-text">
                
Our Services

At Esk Waterproofing, we take pride in offering a comprehensive range of waterproofing solutions tailored to meet the unique needs of your property in Toronto. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/New-Foundation" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/New-Foundation/New-Foundation1.jpeg">
                        <source media="(min-width: 601px)" srcset="assets/images/New-Foundation/New-Foundation1.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/New-Foundation/New-Foundation1.jpeg" alt="New Foundation" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">New Foundation</h3>
                    <p class="cs-item-text">
                       Our new foundation waterproofing services are more than just stability they're a promise of enduring protection.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/Interior-Waterproofing" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/Interior/Interior2.jpg">
                        <source media="(min-width: 601px)" srcset="assets/images/Interior/Interior2.jpg">
                        <img loading="lazy" decoding="async" src="assets/images/Interior/Interior2.jpg" alt="Interior Waterproofing" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Interior Waterproofing</h3>
                    <p class="cs-item-text">
                      We understand that the heart of a home is its interior, and we're here to ensure it stays dry, cozy, and worry-free
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/Exterior-Waterproofing" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/Exterior/Exterior1.jpg">
                        <source media="(min-width: 601px)" srcset="assets/images/Exterior/Exterior1.jpg">
                        <img loading="lazy" decoding="async" src="assets/images/Exterior/Exterior1.jpg" alt="Exterior Waterproofing" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Exterior Waterproofing</h3>
                    <p class="cs-item-text">
                       It's not just about keeping water out; it's about wrapping your home in a shield of security
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/Underpinning" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/Underpinning/Underpinning1.jpg">
                        <source media="(min-width: 601px)" srcset="assets/images/Underpinning/Underpinning1.jpg">
                        <img loading="lazy" decoding="async" src="assets/images/Underpinning/Underpinning1.jpg" alt="Underpinning" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Underpinning</h3>
                    <p class="cs-item-text">
                       Underpinning becomes more than construction; it becomes a testament to our commitment to your property's enduring strength
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/Concrete-Waterproofing" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/Concrete/Concrete1.jpeg">
                        <source media="(min-width: 601px)" srcset="assets/images/Concrete/Concrete1.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/Concrete/Concrete1.jpeg" alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Concrete</h3>
                    <p class="cs-item-text">
                       We don't just work with concrete; we safeguard it, ensuring that your structures remain impervious to water damage.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/SumpPump" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/Sumpump/Sumpump1.jpg">
                        <source media="(min-width: 601px)" srcset="assets/images/Sumpump/Sumpump1.jpg">
                        <img loading="lazy" decoding="async" src="assets/images/Sumpump/Sumpump1.jpg" alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Sump Pump</h3>
                    <p class="cs-item-text">
                        With Esk Waterproofing, a dry basement is not just a goal; it's a promise we deliver with unwavering dedication.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-507">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Elevating Expectations</span>
                <h2 class="cs-title">Why Choose Us</h2>
            </div>
            <p class="cs-text">
               Choosing Esk Waterproofing means selecting a partner deeply committed to surpassing your expectations. Here's why we stand out in Toronto's waterproofing landscape
            </p>
        </div>
        <div class="cs-flex-group">
            <!--Stats List-->
            <ul class="cs-card-group">
                <li class="cs-stats-item">
                    <span class="cs-number">10+</span>
                    <span class="cs-desc">Years of Experiance</span>
                </li>
                <li class="cs-stats-item">
                    <span class="cs-number">5/5</span>
                    <span class="cs-desc">Customer Satisfaction</span>
                </li>
                <li class="cs-stats-item">
                    <span class="cs-number">113</span>
                    <span class="cs-desc">Homes Waterproofed</span>
                </li>
                <li class="cs-stats-item">
                    <span class="cs-number">7</span>
                    <span class="cs-desc">Dedicated Team Members</span>
                </li>
            </ul>
            <!--Qualities List-->
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-li-number">01</span>
                    <div class="cs-li-flex">
                        <h3 class="cs-h3">Comprehensive Services for Total Peace of Mind</h3>
                        <p class="cs-li-text">
                           Esk Waterproofing offers a comprehensive suite of services, from exterior and interior waterproofing to underpinning and concrete solutions. Your peace of mind is our priority, and our range of services is designed to address every aspect of your property's waterproofing needs.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <span class="cs-li-number">02</span>
                    <div class="cs-li-flex">
                        <h3 class="cs-h3">Competitive and Transparent Pricing</h3>
                        <p class="cs-li-text">
                            Enjoy the added benefit of great pricing with Esk Waterproofing. Our competitive rates ensure that you receive exceptional waterproofing services without compromising your budget. Transparency is key, and our upfront pricing ensures there are no surprises in your investment.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <span class="cs-li-number">03</span>
                    <div class="cs-li-flex">
                        <h3 class="cs-h3">Transparent and Honest Communication</h3>
                        <p class="cs-li-text">
                            At Esk Waterproofing, we believe in clear and honest communication. From project assessment to completion, you can trust us to keep you informed every step of the way. No surprises just transparent, open communication.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<!--
    To add a 5th or 6th gallery or more, copy and paste the cs-button and change it's data-filter to th next number, in this case it's 5. Do the dame to the cs-gallery and its data-category number. And thats it!
-->

<section id="gallery-1449">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Gallery</span>
                <h2 class="cs-title">Our Photo Gallery</h2>
            </div>
            <div class="cs-button-group">
                <button class="cs-button" data-filter="one">
                    New Foundation
                </button>
                <button class="cs-button" data-filter="two">
                    Interior Waterproofing
                </button>
                <button class="cs-button" data-filter="three">
                    Exterior Waterproofing
                </button>
                <button class="cs-button" data-filter="four">
                    Concrete Waterproofing
                </button>
                      <button class="cs-button" data-filter="five">
                    Underpinning
                </button>
                      <button class="cs-button" data-filter="six">
                    Sump Pump
                </button>
            </div>
        </div>
        <!--Gallery 1-->
        <div class="cs-gallery" data-category="one">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/New-Foundation/New-Foundation2.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/New-Foundation/New-Foundation2.jpg">
                <img loading="lazy" decoding="async" src="assets/images/New-Foundation/New-Foundation2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/New-Foundation/New-Foundation3.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/New-Foundation/New-Foundation3.jpg">
                <img loading="lazy" decoding="async" src="assets/images/New-Foundation/New-Foundation3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/New-Foundation/New-Foundation4.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/New-Foundation/New-Foundation4.jpg">
                <img loading="lazy" decoding="async" src="assets/images/New-Foundation/New-Foundation4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/New-Foundation/New-Foundation5.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/New-Foundation/New-Foundation5.jpg">
                <img loading="lazy" decoding="async" src="assets/images/New-Foundation/New-Foundation5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/New-Foundation/New-Foundation6.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/New-Foundation/New-Foundation6.jpg">
                <img loading="lazy" decoding="async" src="assets/images/New-Foundation/New-Foundation6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/New-Foundation/New-Foundation7.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/New-Foundation/New-Foundation7.jpg">
                <img loading="lazy" decoding="async" src="assets/images/New-Foundation/New-Foundation7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/New-Foundation/New-Foundation8.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/New-Foundation/New-Foundation8.jpg">
                <img loading="lazy" decoding="async" src="assets/images/New-Foundation/New-Foundation8.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/New-Foundation/New-Foundation9.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/New-Foundation/New-Foundation9.jpg">
                <img loading="lazy" decoding="async" src="assets/images/New-Foundation/New-Foundation9.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
        <!--Gallery 2-->
        <div class="cs-gallery cs-hidden" data-category="two">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Interior/Interior11.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Interior/Interior11.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Interior/Interior11.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Interior/Interior12.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Interior/Interior12.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Interior/Interior12.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Interior/Interior13.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Interior/Interior13.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Interior/Interior13.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Interior/Interior14.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Interior/Interior14.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Interior/Interior14.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Interior/Interior6.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Interior/Interior6.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Interior/Interior6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Interior/Interior7.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Interior/Interior7.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Interior/Interior7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Interior/Interior8.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Interior/Interior8.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Interior/Interior8.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Interior/Interior9.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Interior/Interior9.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Interior/Interior9.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
        <!--Gallery 3-->
        <div class="cs-gallery cs-hidden" data-category="three">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Exterior/Exterior2.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Exterior/Exterior2.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Exterior/Exterior2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Exterior/Exterior3.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Exterior/Exterior3.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Exterior/Exterior3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Exterior/Exterior4.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Exterior/Exterior4.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Exterior/Exterior4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Exterior/Exterior5.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Exterior/Exterior5.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Exterior/Exterior5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Exterior/Exterior6.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Exterior/Exterior6.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Exterior/Exterior6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Exterior/Exterior7.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Exterior/Exterior7.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Exterior/Exterior7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Exterior/Exterior8.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Exterior/Exterior8.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Exterior/Exterior8.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Exterior/Exterior9.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Exterior/Exterior9.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Exterior/Exterior9.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
        <!--Gallery 4-->
        <div class="cs-gallery cs-hidden" data-category="four">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Concrete/Concrete1.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Concrete/Concrete1.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Concrete/Concrete1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Concrete/Concrete2.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Concrete/Concrete2.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Concrete/Concrete2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Concrete/Concrete3.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Concrete/Concrete3.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Concrete/Concrete3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Concrete/Concrete4.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Concrete/Concrete4.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Concrete/Concrete4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Concrete/Concrete5.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Concrete/Concrete5.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Concrete/Concrete5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Concrete/Concrete6.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Concrete/Concrete6.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Concrete/Concrete6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Concrete/Concrete7.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Concrete/Concrete7.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Concrete/Concrete7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Concrete/Concrete8.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Concrete/Concrete8.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Concrete/Concrete8.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
                <!--Gallery 5-->
        <div class="cs-gallery cs-hidden" data-category="five">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Underpinning/Underpinning2.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Underpinning/Underpinning2.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Underpinning/Underpinning2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Underpinning/Underpinning3.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Underpinning/Underpinning3.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Underpinning/Underpinning3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Underpinning/Underpinning4.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Underpinning/Underpinning4.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Underpinning/Underpinning4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Underpinning/Underpinning5.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Underpinning/Underpinning5.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Underpinning/Underpinning5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Underpinning/Underpinning6.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Underpinning/Underpinning6.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Underpinning/Underpinning6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Underpinning/Underpinning7.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Underpinning/Underpinning7.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Underpinning/Underpinning7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Underpinning/Underpinning8.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Underpinning/Underpinning8.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Underpinning/Underpinning8.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/Underpinning/Underpinning9.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/Underpinning/Underpinning9.jpg">
                <img loading="lazy" decoding="async" src="assets/images/Underpinning/Underpinning9.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
                <!--Gallery 6-->
        <div class="cs-gallery cs-hidden" data-category="six">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/SumPump/Sumpump2.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/SumPump/Sumpump2.jpg">
                <img loading="lazy" decoding="async" src="assets/images/SumPump/Sumpump2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/SumPump/Sumpump3.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/SumPump/Sumpump3.jpg">
                <img loading="lazy" decoding="async" src="assets/images/SumPump/Sumpump3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/SumPump/Sumpump4.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/SumPump/Sumpump4.jpg">
                <img loading="lazy" decoding="async" src="assets/images/SumPump/Sumpump4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/SumPump/Sumpump5.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/SumPump/Sumpump5.jpg">
                <img loading="lazy" decoding="async" src="assets/images/SumPump/Sumpump5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/SumPump/Sumpump6.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/SumPump/Sumpump6.jpg">
                <img loading="lazy" decoding="async" src="assets/images/SumPump/Sumpump6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/SumPump/Sumpump7.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/SumPump/Sumpump7.jpg">
                <img loading="lazy" decoding="async" src="assets/images/SumPump/Sumpump7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/SumPump/Sumpump8.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/SumPump/Sumpump8.jpg">
                <img loading="lazy" decoding="async" src="assets/images/SumPump/Sumpump8.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/SumPump/Sumpump9.jpg">
                <source media="(min-width: 601px)" srcset="assets/images/SumPump/Sumpump9.jpg">
                <img loading="lazy" decoding="async" src="assets/images/SumPump/Sumpump9.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-607">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Trusted by Homeowners & Contractors</h2>
            <p class="cs-text">
                At Esk Waterproofing, our commitment to excellence is reflected in the experiences of our satisfied clients. Read what they have to say about our waterproofing services:
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Thank You ESK!</h3>
                <p class="cs-item-text">
                    Thank you ESK waterproofing for the great job you did, and I’ll definitely recommend ESK waterproofing to anyone. If you’re looking for best Waterproofing company in Canada, kindly contact ESK Waterproofing for more details! Special thanks to the owner and his team.
                </p>
                <span class="cs-name">Dave Tatt</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">They Came Right Away!</h3>
                <p class="cs-item-text">
                   I had a flood in my basement, I called soo many people sone were making appointment for next day and some asked me to send them a video, These people came right away and gave me good price and start working with their team, they have team of young people, very professional and experience, well behaved and good quality work. Well done ESK. I would recommend them to everyone for quality work.
                </p>
                <span class="cs-name">Virender Thakur</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">They Work Really Hard!</h3>
                <p class="cs-item-text">
                    Very good guys they work hard really hard very respectful and nice, they did what I want in a perfect way and cleanly, the best company I’ve got so far. They waterproofed my house, it was amazing, concrete was perfecto and they give 21 years warranty love it!
                </p>
                <span class="cs-name">Ammar Alkadiri</span>
            </li>
        </ul>
    </div>
</section>
                                
                                
                                                  
                                                   
                                
                                
    {% include 'components/cta.html' %}
{% endblock %}